body {
    background: gray;
}
header {
    background: darkkhaki;
    border: 2px solid black;
    text-align: center;
}
.wrapper {
    display: flex;
    flex-flow: row wrap;
}
.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}
.form {
    background: gold;
    border: 2px solid black;
}
.image {
    margin: 5px;
    display: inline-block;
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 2px black;
    text-align: center;
    line-height: 1.1;
    font-size: 1em;
    width: 100%;
    max-width: 600px;  
}
#gal-img:hover {
    background: url('images/crossmark.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 35%;
}
#gal-img:hover > .bot-text, #gal-img:hover > .top-text {
    opacity: .5;
    z-index: -1;
 }
.meme-image {
   border-radius: 5%;
   width: 100%;
   max-width: 600px;
   
}
#gal-img > .meme-image:hover {
    opacity: .5;
   filter: alpha(opacity=40);
}

#gallery {
    background: lightsalmon;
    border: 3px solid black;
}
.gallery-title {
    text-align: center;
}
.form div {
    margin: 5px 0px;
}
 
.top-text {
    position: absolute;
    color: white;
    top: -3%;
    right: 3%;
    left: 3%;
    overflow: hidden;

}
.bot-text { 
    position: absolute;
    color: white;
    bottom: -3%;
    right: 3%;
    left: 3%;
    overflow: hidden;

}

@media all and (min-width: 800px) {
    .meme-maker{flex: 1 0 0;}
    #imageurl {
        width: 500px;
    }
    .image {
        font-size: 2em;
    }
}