header {
    background: darkkhaki;
    text-align: center;
}
.wrapper {
    display: flex;
    flex-flow: row wrap;
}
.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}
.form {
    background: gold;
}
.image {
    display: inline-block;
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 2px black;
    text-align: center;
    line-height: 1.1;
    font-size: 1.9em;
    width: 100%;
    max-width: 600px;
    background: hotpink;
    
}
#gallery {
    background: lightsalmon;
}
.form div {
    margin: 5px 0px;
}
 .meme-image {
    width: 100%;
    max-width: 600px;
}
.top-text {
    position: absolute;
    color: white;
    top: -3%;
    right: 3%;
    left: 3%;
    overflow: hidden;

}
.bot-text { 
    position: absolute;
    color: white;
    bottom: -3%;
    right: 3%;
    left: 3%;
    overflow: hidden;

}

@media all and (min-width: 800px) {
    .meme-maker{flex: 1 0 0;}
    #imageurl {
        width: 500px;
    }
}